:root {
  --font-family--hed: Arial;
  --font-family--dek: Arial;
  --font-family--body: "Times New Roman";

  --text-color: black;
  --background-color: white;

  --nav-background-color: #333333;
  --nav-text-color: white;
}
